<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><b>THIS IS A LOGIN PAGE</b></h1>
  <main>

  <nav>
   
  <a href="/">Sign Up</a>
 <a href="/login">Log In</a>
 </nav>

  



<section>
    <form action="/register" method="POST">
      <fieldset>
        <legend>Registration Information</legend>

        <div>
          <label for="usename">UserName</label><br>
          <input type="text" id="username" name="username" required>
        </div>
        <br>
        
        <div>
          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password" required>
        </div>
        <br>
        
        <br>
        <div>
          <button type="submit">Register</button>
        </div>
      </fieldset>
    </form>
  </section>
  <footer>
      <p>© 2025 My Website. All rights reserved.</p>
    </footer>
</main>


</body>
</html>